:root {
  /* Color */
  --mainbackground: #333;
  --mainaccent: white;
  --lightaccent: #888;
  --darkaccent: black;
}

body {
  background-color: var(--mainbackground);
  color: var(--mainaccent);
}

button {
  background-color: black;
}