:root {
  /* Color */
  --mainbackground: rgb(114, 104, 255);
  --mainaccent: white;
  --lightaccent: black;
  --darkaccent: rgb(57, 49, 160);
}

body {
  background-color: var(--mainbackground);
  color: var(--mainaccent);
}

header {
  background-color: var(--darkaccent);
  display: grid;
  align-items: center;
}

h1 {
  text-align: center;
  margin: auto;
}